#sitebody{
  background: black;
  
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color:black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  stroke: black;
  stroke-width: 40px;
  padding-top: 16px;
  font-size: 22px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
}
#search{
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  padding-top: 12px;
  border: black;
  border-radius: 3px;
}
#search:hover{
  box-shadow: 0 8px 16px 0 #D4AF37;
}
li a:hover {
  background-color: #D4AF37;
}
.fa {
  padding: 10px;
  font-size: 200px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  float: right;
  margin-top: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background:black;
  color: white;
  
}
.fa-twitter {
  background: black;
  color: white;
}
#bg img{
  width: 100%;
  height: 55%;
}
#inputdiv{
  border-radius: 10px;
  border-color: black;
}
#gg2
{
width: 400px;
height: 100px;



}
#logo{
 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
  border-radius: 50px;
border-color: grey;
}
#logo:hover{
  box-shadow: 0 8px 16px 0 #D4AF37;
}
#img1{
  width: 100%;
  height: 100%;
  display: flex;
}


.buttons {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black; 
  color: white;
  font-size: 20px; 
  border: 2px solid #D4AF37;
  
}
.buttons:hover{
  box-shadow: 0 8px 16px 0 #D4AF37;
}
#sales{

  margin-left: 42%;
  margin-top: 20px;

}
h3{
  color: white;
  stroke: black;
  stroke-width: 40px;
  float: right ;
  width: 8%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
p{
  color: whitesmoke;
  stroke: black;
  stroke-width: 40px;
  float: right ;
  width: 2px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 1.5%;
}
#megacont{
  padding-top: 2%;
}
#cardhead{
  color: white;
}
#cardpara{
  color: white;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 white;
  border-radius: 14px;
  border-color: whitesmoke;
  transition: 0.3s;
  float: left;
  margin: 6.1%;
  
  
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 #D4AF37;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  
  
  
}
#hitman{
  height:400px ;
  width: 400px;
 
}
#pubg{
  height:400px ;
  width: 400px;
 
}

#ela{
  height:400px ;
  width: 400px;
  
}